{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Server Report</title>
  </head>
  <body>
    <h1>Restaurant Server Report</h1>
    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username }} to Server Report!</h1>
    <h3>A breakdown of your sales</h3>
    <a href="{% url 'website:logout' %}">Logout</a>
    {% else %}
    <h1>Server Report says...</h1>
    <div><a href="{% url 'website:register' %}">Register</a></div>
    <div><a href="{% url 'website:login' %}">Login</a></div>
    {% endif %}
  </body>
</html>