{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Server Report</title>
  </head>
  <body>
    <h1>Restaurant Server Report</h1>
    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username }} to Server Report!</h1>
    <h3>A breakdown of your sales</h3>
    <a href="{% url 'website:total_sales' %}">Total Report</a>
  <h3>Monthly Report</h3>
  <form action ="{% url 'website:month' %}" method="post">{% csrf_token %}
    <select name="month" id="month">
       <option value=1>January</option>
       <option value=2>February</option>
       <option value=3>March</option>
       <option value=4>April</option>
       <option value=5>May</option>
       <option value=6>June</option>
       <option value=7>July</option>
       <option value=8>August</option>
       <option value=9>September</option>
       <option value=10>October</option>
       <option value=11>November</option>
       <option value=12>December</option>
    </select>
    <input type="submit" value="submit">
  </form>
  <h3>Weekly Report</h3>
  <form action ="{% url 'website:week' %}" method="post">{% csrf_token %}
  <fieldset>
      <legend>2018 Weeks</legend>
      <div class="control">
          <label for="week">Choose a week:</label>
          <input type="week" name="week" id="week"
                 min="2018-W0" max="2018-W52" required />
     </div>
     <div><input type="submit" value="week"></div>
  </fieldset>

    <a href="{% url 'website:logout' %}">Logout</a>
    {% else %}
    <h1>Server Report says...</h1>
    <div><a href="{% url 'website:register' %}">Register</a></div>
    <div><a href="{% url 'website:login' %}">Login</a></div>
    {% endif %}
  </body>
</html>